In [1]:
import sqlite3

conn = sqlite3.connect("./data.db")

cursor = conn.cursor()

In [2]:
cursor.execute("""CREATE TABLE transactions(
                        transaction_id TEXT PRIMARY KEY,
                        month TEXT,
                        datetime TEXT,
                        type TEXT,
                        account TEXT,
                        currency TEXT,
                        amount REAL,
                        category TEXT,
                        point TEXT,
                        item TEXT,
                        comment TEXT)""").scalar()

In [9]:
cursor.execute("DROP TABLE transactions")

In [17]:
cursor.execute("SELECT * FROM transactions").fetchall()

[('38635e04-7e86-4a1f-8785-57b6f8cd4314',
  '2024-12',
  '2024-12-28T14:54:18.649096+00:00',
  'Transfer',
  'Kaspi',
  'KZT',
  95.0,
  'Groceries',
  'Small',
  None,
  None),
 ('1e1855f9-b5b0-4bbf-8092-a54879ff28e0',
  '2024-12',
  '2024-12-28T14:55:51.052671+00:00',
  'Transfer',
  'Kaspi',
  'KZT',
  95.0,
  'Groceries',
  'Small',
  None,
  None),
 ('cd56c4ae-8d19-439e-bf48-26b598b15449',
  '2024-12',
  '2024-12-28T14:57:31.443420+00:00',
  'Transfer',
  'Kaspi',
  'KZT',
  95.0,
  'Groceries',
  'Small',
  None,
  None),
 ('627f793c-d4eb-443b-8d1a-6c4435019c85',
  '2024-12',
  '2024-12-28T14:58:44.139461+00:00',
  'Transfer',
  'Kaspi',
  'KZT',
  95.0,
  'Groceries',
  'Small',
  None,
  None),
 ('e250a47f-79a1-4109-ace4-18ca7f4aaae4',
  '2024-12',
  '2024-12-28T14:59:12.052583+00:00',
  'Transfer',
  'Kaspi',
  'KZT',
  95.0,
  'Groceries',
  'Small',
  None,
  None),
 ('67c7036a-eed3-466e-a5dc-6af9c644ff40',
  '2024-12',
  '2024-12-28T14:59:28.466074+00:00',
  'Transfer',
  'Kaspi',
  'KZT',
  95.0,
  'Groceries',
  'Small',
  None,
  None),
 ('3fd0b711-394a-4136-a755-964affb0b5e3',
  '2024-12',
  '2024-12-28T14:59:37.616120+00:00',
  'Transfer',
  'Kaspi',
  'KZT',
  95.0,
  'Groceries',
  'Small',
  None,
  None)]

In [11]:
cursor.execute("""INSERT INTO transactions VALUES ("f1bf8fed-8cb5-4403-a3a1-7b2df262182b","2024-12","2024-12-25T05:06:04.288542+00:00","Transfer","Kaspi","KZT",95,"Groceries","Small",NULL,NULL)""")

In [14]:
conn.close()